*  {
  text-decoration: none!important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

a{
  color: #000;
}

.btn-color{
  background-color: #FF4500;
  color: #fff;
}

.text-color {
  color: #FF4500;
}

.i-color{
  color: #FF4500;
}

.bg-color{
  background-color: #FF4500;
}

.bg-color-tr225{
  background-color: #ff450033;
}

.mn-225:hover{
  background-color: #ff450033!important;
  border-left: 5px solid #ff4500!important;
  color: #fff !important;
}

.i-size span{
  width: 30px;
  height: 30px;
  color: #000;
}

.seach-225 div input{
  border-radius: 0 50px 50px 0!important;
}

.seach-225 button{
  border-radius: 50px 0 0 50px;
}

.dropdown-menu[data-bs-popper] {
  left: -140px!important;
}

.i-user button {
  height: 45px!important;
}

.dropdown-toggle::after {
    display: none!important;
}

.a-ce-25 h1{
  font-size: 80px;
}
