*  {
  text-decoration: none!important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

a{
  color: #000;
}

.btn-color{
  background-color: #FF4500;
  color: #fff;
}

.text-color {
  color: #FF4500;
}

.i-color{
  color: #FF4500;
}
.bd-color {
  border: 3px solid #FF4500;
}
.bg-color{
  background-color: #FF4500;
}

.bg-color-tr225{
  background-color: #ff450033;
}

.mn-225:hover{
  background-color: #ff450033!important;
  border-left: 2px solid #ff4500!important;
  color: #fff !important;
}

.i-size {
  font-size: 14px;
}
.i-size span{
  width: 25px;
  height: 25px;
  color: #000;
}

.seach-225 div input{
  border-radius: 0 50px 50px 0!important;
}

.seach-225 button{
  border-radius: 50px 0 0 50px;
}

.dropdown-menu[data-bs-popper] {
  left: -140px!important;
}

.i-user button {
  height: 45px!important;
}

.dropdown-toggle::after {
    display: none!important;
}

.a-ce-25 h1{
  font-size: 80px;
}

.mn-fixed {
  top: 63px;
  width: 201px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #FF4500!important;
}
