*  {
  text-decoration: none!important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

a{
  color: #000;
}

.btn-color{
  background-color: #FF4500;
  color: #fff;
}

.bg-imag-1 {
  background-size: cover;
  background-position: bottom;
  height: 600px;
}

.img-trans {
  height: 376px;
  width: 100%;
  top: 248px;
}

.search {
  bottom: -70px;
  z-index: 1;
}

.text-shadow {
  top: 65px;
  font-size: 75px;
  text-shadow: 4px 4px 10px #000000;
}

.i-size {
  width: 115px;
}

.hover-1:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 15px;
  border-bottom: 10px solid #FF4500;
  color: #FF4500;
}
.hover-1:hover > div >img{
  box-shadow: none!important;
  border: 3px solid #FF4500!important;
}

.pr-2{
  top: 975px;
  left: 808px;
  width: 315px;
}

.bg-pr-2 {
  background-color: #ff0c58;
  height: 325px;
  width: 325px;
}

.bg-pr-3 {
  background-color: #ff0c58;
  height: 100px;
  width: 100px;
  left: -117px;
  bottom: -100px;
}

.bg-pr-4 {
  background-color: #ff0c58;
  height: 100px;
  width: 100px;
  right: -224px;
  top: -175px;
}

.bg-pr-5 {
  background-color: #ff0c58;
  height: 100px;
  width: 100px;
  left: 332px;
  bottom: 13px;
}

.ts-1 {
  top: 24px;
  font-size: 35px;
}

.bg-event-1 {
  
}
